@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Nunito:wght@400;600;700&display=swap");
* {
    font-family: "Montserrat", sans-serif;
    font-family: "Nunito", sans-serif;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.badge {
    font-size: 10px;
    position: relative;
    right: 5px;
    bottom: 5px;
}

@media screen and (max-width: 767px) {
    .badge {
        right: -10px;
        bottom: 20px;
        width: 3.5%;
    }
}